.body{
    width: 100%;
    background: #ffffff;
}
.wrapper{
    width: 90%;
    margin-left: 5%;
}
.inpWrapper{
    border-bottom: 1px solid rgba(29, 29, 38, 0.2);
    margin-bottom: 30px;
    display: flex;
    padding-top: 50px;
    padding-bottom: 20px;
    align-items: center;
}
.checkbox{
    margin-bottom: 30px;
    display: flex;
    margin-top: 40px;
    padding-bottom: 20px;
    align-items: center;
}
.img{
    width: 36px;
}
.input{
    height: 80px;
    font-size: 28px;
    border: none;
    display: inline-block;
    width: 580px;
    background: transparent;
    color: #333;
    padding-left: 25px;
    outline: transparent;
}
.input::placeholder{
    color: #B9B9B9;
}
.link{
    width: 660px;
    text-align: center;
    height: 86px;
    line-height: 86px;
    color: #fff;
    border-radius: 100px;
    font-size: 32px;
    background: #FC7558;
    margin: 84px auto 32px;
    display: block;
}
.txtTip{
    text-align: center;
    color: #666;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 44px;
}
.bj{
    background: #fff url(../../../../../img/bg.png) no-repeat center bottom;
    background-size: cover;
    width: 100%;
    padding-bottom: 20px;
}
.main{
    width: 90%;
    margin-left: 5%;
}