.wrap{

}
.box{
    width: 100%;
    height: 590px;
    background: #fff;
    overflow: hidden;
    position: absolute;
    bottom: -590px;
    left: 0;
    transition: bottom .5s;
    z-index: 10;
    padding-top: 69px;
    font-size: 28px;
    color: #585858;
}
.cancel{
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 28px;
    color: #aaa;
}
.overDie{
    color: #aaa;
    margin-left: 26px;
    font-size: 22px;
    width:161px;
    height:36px;
    border:1px solid rgba(190,190,190,1);
    border-radius:18px;
    text-align: center;
    display: inline-block;
}
.title{
    border-bottom: 1px solid rgba(229,229,229,1);
    padding-bottom: 32px;
    padding-left: 30px;
}
.list{
    height: 76px;
    line-height: 76px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    color: #585858;
    position: relative;
}
.affter::after{
    content: "";
    width: 16px;
    height: 26px;
    position: absolute;
    background: url("./images/cut.png") no-repeat center;
    background-size: contain;
    top: 26px;
    right: 30px;
}
.payType{
    color: #aaa;
    position: relative;
    margin-right: 30px;
}
.inpList{
    display: flex;
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    justify-content: space-between;
}
.inp{
    border:1px solid rgba(190,190,190,1);
    border-radius:25px;
    margin-left: 20px;
    margin-right: 16px;
    padding:0 30px;
    width: 300px;
}
.paidOff{
    width:134px;
    height:50px;
    background:rgba(190,190,190,1);
    border-radius:25px;
    font-size:26px;
    color: #fff;
    text-align: center;
}
.btn{
    width:660px;
    height:90px;
    line-height: 90px;
    text-align: center;
    background:rgba(252,117,88,1);
    border-radius:45px;
    font-size:30px;
    color: #fff;
    margin: 34px auto 0;
    display: block;
}